<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://localhost:5000/styles/loginStyle.css">
	<title>Login</title>
</head>
<body>
	
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="/auth/signup" method="POST">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text"  placeholder="User name" name="name">
					<input type="text"  placeholder="Email" name="email">
					<input type="text"  placeholder="Password" name="pass">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form action="/auth/login" method="POST">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="emaillogin" placeholder="Email" >
					<input type="password" name="passlogin" placeholder="Password" >
					<button>Login</button>
				</form>
			</div>
	</div>
</body>
</html>