<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/styles/dashboardStyle.css">
</head>
<body>
    <h1>dashboard</h1>
    <a href="/logout">logout</a>
</body>
</html>
