.container{
  margin: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
#left-section{
  float: left;
  width: 20%;
  /* height: 95vh; */
  height: auto;
  padding: 5%;
  border-radius:  10px 0 0 10px;
}
#right-section{
  float: left;
  width: 60%;
  height: 60vh;
  /* height: auto; */
  padding: 5%;
  background-color: rgb(249 249 249);
  border-radius: 0 10px 10px 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



.select {
  position: relative;
  margin-top: 10px;
}

.select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: rgb(249 249 249);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(0, 0, 0) transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: rgb(249 249 249);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(204, 204, 204, 0.3);
}




textarea{
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: 1;
  border: 0;
  margin: 0;
  padding: 0;
  background: #000000 transparent;
  background-color: rgba(255, 255, 255, 0);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000)";
  color: #000000;
  line-height: 1.5;
  resize: none;
  height: 80px;
  width: 700px;
}
.underline{
  display: inline-block;
  width: 700px;
  position: relative;
  top: 1px;
  height: 1px;
  background-color: #cccccc;
}

.button {
  background-color: #573b8a; 
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  border-radius: 10px;
  
}
.logout-btn{
  margin: 90% 25% 0 25%;
}
.button>a{
  color: white;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}